/*COLORES*/
/*TIPOGRAFIAS*/
/*@mixin textos: $colorLetra:elegir color en "_variables", $tamanioLetra: en rem*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

html {
  font-size: 62.5%; }

body {
  font-family: "Montserrat", sans-serif; }

ul {
  list-style: none; }

h1 {
  text-transform: uppercase; }

header {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1; }

.nav-link {
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 4vw;
  color: #F7C5D0; }

.active {
  color: #01FFC3; }

.nav-link:hover {
  color: #F5E833;
  transform: scale(130%, 130%);
  transition: 0.5s; }

.navbar-nav {
  align-items: flex-end;
  align-content: flex-end;
  justify-content: flex-end;
  width: 100%; }

.navbar__logo {
  height: 15vh;
  margin-left: 4vw; }

.navbar-toggler {
  margin-right: 4vw;
  background-color: #F7C5D0;
  padding: 1rem; }

.navbar-toggler:hover {
  background-color: #F5E833; }

.footer {
  color: #606060;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  font-style: italic;
  text-transform: uppercase;
  background-color: #F7C5D0; }
  .footer .footer__divFlex {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .footer .footer__divFlex .footer__leyenda {
      padding-left: 2rem;
      padding-top: 1rem;
      font-size: 1rem; }
    .footer .footer__divFlex .footer__contacto {
      text-decoration: none;
      color: #606060;
      font-weight: 700;
      font-size: 1.5rem;
      font-style: normal; }
      .footer .footer__divFlex .footer__contacto:hover {
        color: #F5E833; }
    .footer .footer__divFlex .footer__redes {
      width: 25%;
      display: flex;
      justify-content: space-around; }
      .footer .footer__divFlex .footer__redes .footer__icono {
        width: 100%; }

.sectionHome {
  width: 100%;
  height: 100%;
  background-image: url(../images/gifBackground.gif);
  background-size: cover;
  margin-top: 1vw;
  overflow: hidden; }
  .sectionHome .sectionHome__titulo {
    /*textos: $colorLetra:elegir color en "_variables", $tamanioLetra: en rem*/
    color: #606060;
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
    width: 50%;
    padding: 3vw 0vw 0vw 6vw; }
  .sectionHome .sectionHome__texto {
    color: #606060;
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
    width: 50%;
    line-height: 200%;
    padding-left: 6vw;
    padding-top: 2vw;
    padding-bottom: 2vw; }
  .sectionHome .boton__error {
    padding-left: 22%; }

@media only screen and (max-width: 600px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center; }
    nav .navbar-toggler {
      padding: 2vh; }
    nav .navbar__logo {
      height: 10vh;
      margin-left: 0vw; }
    nav nav ul {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center; }
    nav nav li {
      padding: 1vh; }
    nav .nav-link {
      font-size: 2.5rem; }
    nav .whatsapp {
      width: 10vw;
      height: auto;
      position: fixed;
      bottom: 10vh;
      right: 10px; }
  .footer__divFlex {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: space-around; }
  .footer__leyenda {
    font-size: 0.5rem; }
  .footer__icono {
    padding: 1vw; }
  .sectionHome {
    background-image: url(../images/gifBackgroundXs.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    margin-top: 1vw;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column; }
    .sectionHome .sectionHome__titulo {
      color: #606060;
      font-size: 3rem;
      font-weight: 1000;
      text-align: center;
      width: 100vw;
      padding: 10vw 20vw 10vw 20vw; }
    .sectionHome .sectionHome__texto {
      color: #606060;
      font-size: 3rem;
      font-weight: 300;
      text-align: center;
      width: 100vw;
      padding: 0vw 20vw 70vw 20vw; }
    .sectionHome .boton__error {
      padding: 2vw;
      font-size: 2rem; }
  .mainError {
    background-image: url(../images/errorXs.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: top;
    margin-top: 1vw;
    height: 100vh;
    width: auto; }
    .mainError .mainError__boton404Volver {
      font-size: 2rem; }
  .sectionQuien {
    display: flex;
    flex-direction: column; }
    .sectionQuien #imagenQuien {
      width: 0%;
      height: 0%; }
    .sectionQuien .sectionQuien__article {
      width: 100vw;
      display: flex;
      flex-direction: column; }
      .sectionQuien .sectionQuien__article .sectionQuien__containerCardsA {
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
      .sectionQuien .sectionQuien__article .sectionQuien__containerCardsB {
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
      .sectionQuien .sectionQuien__article .sectionQuien__card {
        width: 95%;
        padding: 2vw;
        justify-content: center; }
        .sectionQuien .sectionQuien__article .sectionQuien__card .sectionQuien__card-body {
          padding-left: 0.5vw;
          padding-right: 0.5vw; }
        .sectionQuien .sectionQuien__article .sectionQuien__card .card-title {
          font-size: 2rem;
          font-weight: 500; }
        .sectionQuien .sectionQuien__article .sectionQuien__card .card-subtitle {
          font-size: 1rem;
          font-weight: 400; }
        .sectionQuien .sectionQuien__article .sectionQuien__card .sectionQuien__card-text {
          padding-top: 4vh;
          font-size: 1rem;
          font-weight: 300; }
        .sectionQuien .sectionQuien__article .sectionQuien__card .sectionQuien__card-body:hover {
          transform: scale(0.5); }
      .sectionQuien .sectionQuien__article .sectionQuien__titulo {
        color: #F7C5D0;
        font-size: 3rem;
        font-weight: 500;
        text-align: right;
        padding: 2vw; }
  .divFlexQue {
    height: 100vh;
    display: flex;
    padding: 2vw;
    align-items: center;
    flex-direction: column; }
    .divFlexQue .textoImagen {
      width: 100%;
      padding: 4vh; }
      .divFlexQue .textoImagen .textoImagen__palabra {
        line-height: 7vw; }
      .divFlexQue .textoImagen .textoImagen--right {
        color: #F7C5D0;
        font-size: 6rem;
        font-weight: bolder;
        text-align: right; }
      .divFlexQue .textoImagen .textoImagen--right:hover, .divFlexQue .textoImagen .textoImagen--left:hover {
        color: #9D72FF;
        transition: all 0.5s;
        transform: translate(-5vh, -5vh); }
    .divFlexQue .table__th {
      color: #FFFFFF;
      font-size: 2rem;
      font-weight: 500;
      text-align: center; }
    .divFlexQue .table__td {
      color: #FFFFFF;
      font-size: 1rem;
      font-weight: 400;
      text-align: center; }
  .galeria__contenedor {
    flex-direction: column; }
    .galeria__contenedor .galeria__imagenes {
      width: 100%;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 1fr;
      column-gap: 1rem;
      row-gap: 1rem; }
      .galeria__contenedor .galeria__imagenes .galeria__imagen {
        width: 100%;
        height: auto; }
  iframe {
    margin: 3rem;
    width: 70vw;
    height: auto; }
  .mainContacto {
    flex-direction: column;
    height: 100%;
    padding: 5vh; }
    .mainContacto .form {
      font-size: 2rem;
      width: 75%; }
      .mainContacto .form .formGenero, .mainContacto .form .news {
        font-size: 1.5rem; }
    .mainContacto .textoImagen {
      width: 100%;
      padding: 4vh; }
      .mainContacto .textoImagen .textoImagen__palabra {
        line-height: 7vw; }
      .mainContacto .textoImagen .textoImagen--left {
        color: #FFFFFF;
        font-size: 6rem;
        font-weight: bolder;
        text-align: right; }
      .mainContacto .textoImagen .textoImagen--right:hover, .mainContacto .textoImagen .textoImagen--left:hover {
        color: #9D72FF;
        transition: all 0.5s;
        transform: translate(-5vh, -5vh); } }

@media only screen and (min-width: 600px) and (max-width: 1200px) {
  .sectionHome {
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; }
  .mainError {
    background-position: center; }
  .sectionQuien {
    display: flex;
    flex-direction: column; }
    .sectionQuien #imagenQuien {
      width: 0%;
      height: 0%; }
    .sectionQuien .sectionQuien__article {
      width: 100vw;
      display: flex;
      flex-direction: column; }
      .sectionQuien .sectionQuien__article .sectionQuien__containerCardsA {
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
      .sectionQuien .sectionQuien__article .sectionQuien__containerCardsB {
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
      .sectionQuien .sectionQuien__article .sectionQuien__card {
        width: 95%;
        padding: 2vw;
        justify-content: center; }
        .sectionQuien .sectionQuien__article .sectionQuien__card .sectionQuien__card-body {
          padding-left: 0.5vw;
          padding-right: 0.5vw; }
        .sectionQuien .sectionQuien__article .sectionQuien__card .card-title {
          font-size: 2rem;
          font-weight: 500; }
        .sectionQuien .sectionQuien__article .sectionQuien__card .card-subtitle {
          font-size: 1rem;
          font-weight: 400; }
        .sectionQuien .sectionQuien__article .sectionQuien__card .sectionQuien__card-text {
          padding-top: 4vh;
          font-size: 1rem;
          font-weight: 300; }
        .sectionQuien .sectionQuien__article .sectionQuien__card .sectionQuien__card-body:hover {
          transform: scale(1.1); }
      .sectionQuien .sectionQuien__article .sectionQuien__titulo {
        color: #F7C5D0;
        font-size: 3rem;
        font-weight: 500;
        text-align: right;
        padding: 2vw; }
  .divFlexQue {
    height: 100vh;
    display: flex;
    padding: 2vw;
    align-items: center;
    flex-direction: column; }
    .divFlexQue .textoImagen {
      width: 80%;
      padding: 4vh; }
      .divFlexQue .textoImagen .textoImagen__palabra {
        line-height: 7vw; }
      .divFlexQue .textoImagen .textoImagen--right {
        color: #F7C5D0;
        font-size: 6rem;
        font-weight: bolder;
        text-align: center; }
      .divFlexQue .textoImagen .textoImagen--right:hover, .divFlexQue .textoImagen .textoImagen--left:hover {
        color: #9D72FF;
        transition: all 0.5s;
        transform: translate(-5vh, -5vh); }
    .divFlexQue .table__th {
      color: #FFFFFF;
      font-size: 4rem;
      font-weight: 500;
      text-align: center; }
    .divFlexQue .table__td {
      color: #FFFFFF;
      font-size: 2rem;
      font-weight: 400;
      text-align: center; }
  iframe {
    margin: 3rem;
    width: 70vw;
    height: auto; }
  .mainContacto {
    flex-direction: column;
    height: 100%;
    padding: 5vh; }
    .mainContacto .form {
      font-size: 2rem;
      width: 75%; }
      .mainContacto .form .formGenero, .mainContacto .form .news {
        font-size: 1.5rem; }
    .mainContacto .textoImagen {
      width: 100%;
      padding: 4vh; }
      .mainContacto .textoImagen .textoImagen__palabra {
        line-height: 7vw; }
      .mainContacto .textoImagen .textoImagen--left {
        color: #FFFFFF;
        font-size: 6rem;
        font-weight: bolder;
        text-align: center; }
      .mainContacto .textoImagen .textoImagen--right:hover, .mainContacto .textoImagen .textoImagen--left:hover {
        color: #9D72FF;
        transition: all 0.5s;
        transform: translate(-5vh, -5vh); } }

.mainError {
  background-image: url(../images/error.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .mainError .mainError__texto h3 {
    padding-top: 4rem;
    color: #F7C5D0;
    font-size: 1rem;
    font-weight: 500;
    text-align: center; }
  .mainError .mainError__texto p {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center; }
  .mainError .mainError__boton404Volver {
    height: 100%;
    align-items: flex-end; }

.sectionQuien {
  display: flex; }
  .sectionQuien #imagenQuien {
    width: 30%; }
  .sectionQuien .sectionQuien__titulo {
    /*textos: $colorLetra:elegir color en "_variables", $tamanioLetra: en rem*/
    color: #F7C5D0;
    font-size: 3rem;
    font-weight: 500;
    text-align: right;
    padding: 4vw 4vw 1vw 0vw; }
  .sectionQuien .sectionQuien__article {
    width: 70%;
    background-color: #606060;
    display: flex;
    flex-direction: column; }
    .sectionQuien .sectionQuien__article .sectionQuien__containerCardsA {
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
    .sectionQuien .sectionQuien__article .sectionQuien__containerCardsB {
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
    .sectionQuien .sectionQuien__article .sectionQuien__card {
      color: #F7C5D0;
      width: 40%;
      background: none;
      border: outset;
      margin: 2vw; }
      .sectionQuien .sectionQuien__article .sectionQuien__card .sectionQuien__card-body {
        padding-left: 0.5vw;
        padding-right: 0.5vw; }
        .sectionQuien .sectionQuien__article .sectionQuien__card .sectionQuien__card-body .card-title {
          font-size: 3rem;
          font-weight: 500; }
        .sectionQuien .sectionQuien__article .sectionQuien__card .sectionQuien__card-body .card-subtitle {
          font-size: 2rem;
          font-weight: 400; }
        .sectionQuien .sectionQuien__article .sectionQuien__card .sectionQuien__card-body .sectionQuien__card-text {
          padding-top: 4vh;
          font-size: 2rem;
          font-weight: 300; }
        .sectionQuien .sectionQuien__article .sectionQuien__card .sectionQuien__card-body .sectionQuien__card-text:hover {
          color: #606060; }
      .sectionQuien .sectionQuien__article .sectionQuien__card .sectionQuien__card-body:hover {
        background: #F7C5D0;
        transform: translate(-5vh, -5vh);
        transition: all 0.5s; }
    .sectionQuien .sectionQuien__article .sectionQuien__card:hover {
      color: #606060; }

.divFlexQue {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-items: center;
  padding-left: 4vw; }

.galeria {
  background: linear-gradient(to top, #F7C5D0, #01FFC3); }
  .galeria .galeria__contenedor {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-items: center; }
    .galeria .galeria__contenedor .galeria__imagenes {
      width: 70vw;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
      column-gap: 4rem;
      row-gap: 4rem; }
      .galeria .galeria__contenedor .galeria__imagenes .galeria__imagen {
        width: 100%;
        height: auto; }

iframe {
  width: 70vw;
  margin: 3rem; }

.mainContacto {
  height: auto;
  color: #FFFFFF;
  background: linear-gradient(to right, #F5E833, #9D72FF);
  background-size: 100%;
  display: flex;
  align-items: center;
  padding: 10vh;
  /*COMIENZO FORM*/
  /*FIN FORM*/ }
  .mainContacto .form {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    width: auto;
    height: 100%; }
    .mainContacto .form .form label {
      color: #9D72FF; }
    .mainContacto .form .form__campo, .mainContacto .form .mainContacto textarea {
      border: none;
      background-color: #FFFFFF;
      opacity: 50%; }
    .mainContacto .form .form__campo:focus, .mainContacto .form .mainContacto textarea:focus {
      background-color: #9D72FF;
      opacity: 80%; }
    .mainContacto .form .reset, .mainContacto .form .submit {
      border: outset;
      color: #FFFFFF;
      opacity: 70%;
      background-color: #9D72FF; }
    .mainContacto .form .reset:focus, .mainContacto .form .submit:focus {
      background-color: #F5E833;
      opacity: 50%; }
    .mainContacto .form ::placeholder {
      color: #9D72FF; }
    .mainContacto .form .mainContacto__select {
      background-color: transparent;
      color: #FFFFFF;
      border-color: #FFFFFF; }
    .mainContacto .form .formGenero, .mainContacto .form .news {
      display: flex;
      justify-content: space-around;
      align-items: center; }
    .mainContacto .form .news {
      justify-content: center; }

.boton {
  display: flex;
  justify-content: center; }
  .boton .boton__link {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    padding: 1rem;
    margin-bottom: 4rem;
    border: outset;
    background-color: #F7C5D0;
    text-decoration: none; }
  .boton .boton__link:hover {
    background-color: #F5E833;
    transition: 0.5s; }

.table {
  background-image: url(../images/tableBackground.png);
  background-size: contain;
  background-repeat: round;
  padding: 1vw; }
  .table .table__th {
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    padding: 1vw; }
  .table .table__td {
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    line-height: 3vw; }

.textoImagen {
  width: 40%;
  margin: 4vw; }
  .textoImagen .textoImagen__palabra {
    line-height: 3.5vw; }
  .textoImagen .textoImagen--right {
    color: #F7C5D0;
    font-size: 8rem;
    font-weight: bolder;
    text-align: right; }
  .textoImagen .textoImagen--right:hover, .textoImagen .textoImagen--left:hover {
    color: #9D72FF;
    transition: all 0.5s;
    transform: translate(-5vh, -5vh); }
  .textoImagen .textoImagen--left {
    color: #FFFFFF;
    font-size: 8rem;
    font-weight: bolder;
    text-align: left; }
  .textoImagen .textoImagen--left:hover {
    transform: translate(5vh, 5vh); }

.whatsapp {
  width: 3vw;
  height: auto;
  position: fixed;
  bottom: 10vh;
  right: 10px; }

@media only screen and (max-width: 600px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center; }
    nav .navbar-toggler {
      padding: 2vh; }
    nav .navbar__logo {
      height: 10vh;
      margin-left: 0vw; }
    nav nav ul {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center; }
    nav nav li {
      padding: 1vh; }
    nav .nav-link {
      font-size: 2.5rem; }
    nav .whatsapp {
      width: 10vw;
      height: auto;
      position: fixed;
      bottom: 10vh;
      right: 10px; }
  .footer__divFlex {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: space-around; }
  .footer__leyenda {
    font-size: 0.5rem; }
  .footer__icono {
    padding: 1vw; }
  .sectionHome {
    background-image: url(../images/gifBackgroundXs.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    margin-top: 1vw;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column; }
    .sectionHome .sectionHome__titulo {
      color: #606060;
      font-size: 3rem;
      font-weight: 1000;
      text-align: center;
      width: 100vw;
      padding: 10vw 20vw 10vw 20vw; }
    .sectionHome .sectionHome__texto {
      color: #606060;
      font-size: 3rem;
      font-weight: 300;
      text-align: center;
      width: 100vw;
      padding: 0vw 20vw 70vw 20vw; }
    .sectionHome .boton__error {
      padding: 2vw;
      font-size: 2rem; }
  .mainError {
    background-image: url(../images/errorXs.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: top;
    margin-top: 1vw;
    height: 100vh;
    width: auto; }
    .mainError .mainError__boton404Volver {
      font-size: 2rem; }
  .sectionQuien {
    display: flex;
    flex-direction: column; }
    .sectionQuien #imagenQuien {
      width: 0%;
      height: 0%; }
    .sectionQuien .sectionQuien__article {
      width: 100vw;
      display: flex;
      flex-direction: column; }
      .sectionQuien .sectionQuien__article .sectionQuien__containerCardsA {
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
      .sectionQuien .sectionQuien__article .sectionQuien__containerCardsB {
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
      .sectionQuien .sectionQuien__article .sectionQuien__card {
        width: 95%;
        padding: 2vw;
        justify-content: center; }
        .sectionQuien .sectionQuien__article .sectionQuien__card .sectionQuien__card-body {
          padding-left: 0.5vw;
          padding-right: 0.5vw; }
        .sectionQuien .sectionQuien__article .sectionQuien__card .card-title {
          font-size: 2rem;
          font-weight: 500; }
        .sectionQuien .sectionQuien__article .sectionQuien__card .card-subtitle {
          font-size: 1rem;
          font-weight: 400; }
        .sectionQuien .sectionQuien__article .sectionQuien__card .sectionQuien__card-text {
          padding-top: 4vh;
          font-size: 1rem;
          font-weight: 300; }
        .sectionQuien .sectionQuien__article .sectionQuien__card .sectionQuien__card-body:hover {
          transform: scale(0.5); }
      .sectionQuien .sectionQuien__article .sectionQuien__titulo {
        color: #F7C5D0;
        font-size: 3rem;
        font-weight: 500;
        text-align: right;
        padding: 2vw; }
  .divFlexQue {
    height: 100vh;
    display: flex;
    padding: 2vw;
    align-items: center;
    flex-direction: column; }
    .divFlexQue .textoImagen {
      width: 100%;
      padding: 4vh; }
      .divFlexQue .textoImagen .textoImagen__palabra {
        line-height: 7vw; }
      .divFlexQue .textoImagen .textoImagen--right {
        color: #F7C5D0;
        font-size: 6rem;
        font-weight: bolder;
        text-align: right; }
      .divFlexQue .textoImagen .textoImagen--right:hover, .divFlexQue .textoImagen .textoImagen--left:hover {
        color: #9D72FF;
        transition: all 0.5s;
        transform: translate(-5vh, -5vh); }
    .divFlexQue .table__th {
      color: #FFFFFF;
      font-size: 2rem;
      font-weight: 500;
      text-align: center; }
    .divFlexQue .table__td {
      color: #FFFFFF;
      font-size: 1rem;
      font-weight: 400;
      text-align: center; }
  .galeria__contenedor {
    flex-direction: column; }
    .galeria__contenedor .galeria__imagenes {
      width: 100%;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 1fr;
      column-gap: 1rem;
      row-gap: 1rem; }
      .galeria__contenedor .galeria__imagenes .galeria__imagen {
        width: 100%;
        height: auto; }
  iframe {
    margin: 3rem;
    width: 70vw;
    height: auto; }
  .mainContacto {
    flex-direction: column;
    height: 100%;
    padding: 5vh; }
    .mainContacto .form {
      font-size: 2rem;
      width: 75%; }
      .mainContacto .form .formGenero, .mainContacto .form .news {
        font-size: 1.5rem; }
    .mainContacto .textoImagen {
      width: 100%;
      padding: 4vh; }
      .mainContacto .textoImagen .textoImagen__palabra {
        line-height: 7vw; }
      .mainContacto .textoImagen .textoImagen--left {
        color: #FFFFFF;
        font-size: 6rem;
        font-weight: bolder;
        text-align: right; }
      .mainContacto .textoImagen .textoImagen--right:hover, .mainContacto .textoImagen .textoImagen--left:hover {
        color: #9D72FF;
        transition: all 0.5s;
        transform: translate(-5vh, -5vh); } }

@media only screen and (min-width: 600px) and (max-width: 1200px) {
  .sectionHome {
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; }
  .mainError {
    background-position: center; }
  .sectionQuien {
    display: flex;
    flex-direction: column; }
    .sectionQuien #imagenQuien {
      width: 0%;
      height: 0%; }
    .sectionQuien .sectionQuien__article {
      width: 100vw;
      display: flex;
      flex-direction: column; }
      .sectionQuien .sectionQuien__article .sectionQuien__containerCardsA {
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
      .sectionQuien .sectionQuien__article .sectionQuien__containerCardsB {
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
      .sectionQuien .sectionQuien__article .sectionQuien__card {
        width: 95%;
        padding: 2vw;
        justify-content: center; }
        .sectionQuien .sectionQuien__article .sectionQuien__card .sectionQuien__card-body {
          padding-left: 0.5vw;
          padding-right: 0.5vw; }
        .sectionQuien .sectionQuien__article .sectionQuien__card .card-title {
          font-size: 2rem;
          font-weight: 500; }
        .sectionQuien .sectionQuien__article .sectionQuien__card .card-subtitle {
          font-size: 1rem;
          font-weight: 400; }
        .sectionQuien .sectionQuien__article .sectionQuien__card .sectionQuien__card-text {
          padding-top: 4vh;
          font-size: 1rem;
          font-weight: 300; }
        .sectionQuien .sectionQuien__article .sectionQuien__card .sectionQuien__card-body:hover {
          transform: scale(1.1); }
      .sectionQuien .sectionQuien__article .sectionQuien__titulo {
        color: #F7C5D0;
        font-size: 3rem;
        font-weight: 500;
        text-align: right;
        padding: 2vw; }
  .divFlexQue {
    height: 100vh;
    display: flex;
    padding: 2vw;
    align-items: center;
    flex-direction: column; }
    .divFlexQue .textoImagen {
      width: 80%;
      padding: 4vh; }
      .divFlexQue .textoImagen .textoImagen__palabra {
        line-height: 7vw; }
      .divFlexQue .textoImagen .textoImagen--right {
        color: #F7C5D0;
        font-size: 6rem;
        font-weight: bolder;
        text-align: center; }
      .divFlexQue .textoImagen .textoImagen--right:hover, .divFlexQue .textoImagen .textoImagen--left:hover {
        color: #9D72FF;
        transition: all 0.5s;
        transform: translate(-5vh, -5vh); }
    .divFlexQue .table__th {
      color: #FFFFFF;
      font-size: 4rem;
      font-weight: 500;
      text-align: center; }
    .divFlexQue .table__td {
      color: #FFFFFF;
      font-size: 2rem;
      font-weight: 400;
      text-align: center; }
  iframe {
    margin: 3rem;
    width: 70vw;
    height: auto; }
  .mainContacto {
    flex-direction: column;
    height: 100%;
    padding: 5vh; }
    .mainContacto .form {
      font-size: 2rem;
      width: 75%; }
      .mainContacto .form .formGenero, .mainContacto .form .news {
        font-size: 1.5rem; }
    .mainContacto .textoImagen {
      width: 100%;
      padding: 4vh; }
      .mainContacto .textoImagen .textoImagen__palabra {
        line-height: 7vw; }
      .mainContacto .textoImagen .textoImagen--left {
        color: #FFFFFF;
        font-size: 6rem;
        font-weight: bolder;
        text-align: center; }
      .mainContacto .textoImagen .textoImagen--right:hover, .mainContacto .textoImagen .textoImagen--left:hover {
        color: #9D72FF;
        transition: all 0.5s;
        transform: translate(-5vh, -5vh); } }
