*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    font-size:62.5%;
}
body{
    font-family: $tipografia;
}
ul{
    list-style: none;
}
h1{
    text-transform: uppercase;
}