.galeria{
    background: linear-gradient(to top, $colorDos, $colorCuatro);
    
    .galeria__contenedor{
        display: grid;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        
        .galeria__imagenes{
            width: 70vw;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, 1fr);
            column-gap: 4rem;
            row-gap: 4rem;

            .galeria__imagen{
                width: 100%;
                height: auto;
            }
        }
    }
}

iframe{
    width: 70vw;
    margin: 3rem;
}