.mainContacto{
    height: auto;
    color: $colorCinco;
    background: linear-gradient(to right, $colorTres, $colorSeis);
    background-size: 100%;
    display: flex;
    align-items: center;
    padding: 10vh;

    /*COMIENZO FORM*/
    .form{
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-items: flex-end;
        width: auto;
        height: 100%;

        .form label{
            color: $colorSeis;
        }
        .form__campo{            
            border: none;
            background-color: $colorCinco;
            opacity: 50%;
        }
        .form__campo:focus{
            background-color: $colorSeis;
            opacity: 80%;
        }
        .mainContacto textarea{
            @extend .form__campo;
        }
        .mainContacto textarea:focus{
            @extend .form__campo:focus;
        }    
        .reset{
            border: outset;
            color: $colorCinco;
            opacity: 70%;
            background-color: $colorSeis;
        }
        .submit{
            @extend .reset;
        }
        .reset:focus{
            background-color: $colorTres;
            opacity: 50%;
        }
        .submit:focus{
            @extend .submit:focus;
        }
        ::placeholder{
            color: $colorSeis;
        }        
        .mainContacto__select{
            background-color: transparent;
            color: $colorCinco;
            border-color: $colorCinco;
        }
        .formGenero{
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .news{
            @extend .formGenero;
            justify-content: center;
        }
    }
    /*FIN FORM*/
}

